# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
venv/
env/
.env
.venv

# Distribution / Build
build/
dist/
*.egg-info/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS Generated
.DS_Store
Thumbs.db
Desktop.ini

# Project Specific
*.pkl
